services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
    container_name: node_app_service
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - ./storage:/app/storage
    environment:
      - NODE_ENV=production
      - PORT=3000
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
